{% from "govuk/components/radios/macro.njk" import govukRadios %}


<link rel="stylesheet" href="/Users/aliciaperezgomez/Documents/prototypes/juggling-licence/public/stylesheets/application.css">

{% extends "layout.html" %}

{% block pageTitle %}
  Question page template – {{ serviceName }} – GOV.UK Prototype Kit
{% endblock %}

{% block beforeContent %}
  <a class="govuk-back-link" href="javascript:window.history.back()">Back</a>
{% endblock %}

{% block content %}
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      <form class="form" action="/juggling-balls-edited" method="post">
        {{ govukRadios({
          idPrefix: "how-many-balls-edited",
          name: "how-many-balls-edited",
            fieldset: {
              legend: {
                text: "How many balls can you juggle?",
                isPageHeading: true,
                classes: "govuk-fieldset__legend--l"
              }
            },
          items: [
            {
              value: "three-or-more",
              text: "3 or more",
              checked: checked("how-many-balls-edited", "3 or more")
            },
            {
              value: "one-or-two",
              text: "1 or 2",
              checked: checked("how-many-balls-edited", "1 or 2")
            },
            {
              value: "none",
              text: "None - I cannot juggle",
              checked: checked("how-many-balls-edited", "None - I cannot juggle")
            }
          ]
        }) }}

        <button class="govuk-button" data-module="govuk-button">Continue</button>

{{data | dump}}

      </form>
    </div>
  </div>
  
{% endblock %}